.enter {
    animation: enter 2s ease;
}

.border {
    border: 2px solid black;
}

@keyframes enter {

    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
    
}