.enter {
    animation: enter 2s ease;
}

.active-border {
    border: 2px solid black;
}

#content section {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

@keyframes enter {

    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
    
}