@import url('../../resources/Author-Font/css/author.css');
main * {
    font-family: 'Author-Semibold';
    letter-spacing: 1.5px;
}

body {
    overflow: hidden;;
}

main {
    background: url('../../resources/main-back.png');
}

main article {
    height: 50%;
    transition: 750ms;
    animation: enter 1s;
    border: 2px solid rgba(255, 255, 255,0.1);
    backdrop-filter: blur(50px);
    overflow: hidden;

}

main article * {
    z-index: 1;
}

main article::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #3d3d3d70, transparent);
    z-index: 0;
    transition: all 1s;
}

main article:hover {
    transform: scale(1.1);
    border: 2px solid rgba(255, 255, 255,0.4);
}